
.header {
<<<<<<< HEAD
=======
    position: relative;
    width: 1440px;
    height: 101px;
>>>>>>> e0b881a27275f5ef6d6e620494a3384b68d36f75
  
  position: relative;
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
}


.header .logo {
  position: absolute;
  left: 3.54%;
  top: 27.72%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #6C5DD3;
  margin-top: -10px;
}


.header .Home {
  position: absolute;
  left: 570.5px;
  top: 41px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: -20px;
  margin-left: -60px;
}


.header .personal-collection {
  position: absolute;
  left: 760.5px;
  top: 41px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: -20px;
  margin-left: -60px;
 
}


.header .search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 130px;
  width: 325px;
}

.header .search-items {
  border: none;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  background-color: transparent;
  width: 318px; 
  height: 35px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 184px;
  margin-top: -8.5px;
}


.search-icon {
  color: #ffffff;
  margin-right: 10px; 
}


.header .drops {
  position: absolute;
  left: 938px;
  top: 41px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: -20px;
  margin-left: -60px;
}


.header .more {
  position: absolute;
  left: 1021px;
  top: 41px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: -20px;
  margin-left: -60px;
}

/* Vector */
.header .vector-6 {
  position: absolute;
  left: 73.82%;
  top: 49.5%;
  border: 1px solid #FFFFFF;
}

/* Frame 48095481 */
.header .frame-48095481 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}


.header .explore {
  position: absolute;
  width: 53px;
  height: 19px;
  left: 653.5px;
  top: 41px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
 margin-top: -20px;
 margin-left: -60px;
}

.Avatar {
  position: absolute;
  width: 53px;
  height: 19px;
  left: 653.5px;
  top: 41px;
  margin-top: -60px;

 margin-right: 50px;

}


.icondel {
  position: absolute;
  width: 53px;
  height: 19px;
  left: 653.5px;
  top: 41px;
  margin-top: -50px;
 margin-left: -100px;

}
.iconMes {
  position: absolute;
  width: 53px;
  height: 19px;
  left: 653.5px;
  top: 41px;
  margin-top: -50px;
 margin-left: -71px;

}
.down {
  margin-top: -50px;
  margin-left: -51px;
}


.wallet {
  position: absolute;
  width: 53px;
  height: 19px;
  color: white;
  top: 41px;
 
 font-size: 16;
 font-family: 'SF Pro Display';

 letter-spacing: 0.30;


}

