.MuiDataGrid-root .MuiDataGrid-row .MuiDataGrid-cell,
.MuiDataGrid-root .MuiDataGrid-columnHeader,
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-columnHeader:hover,
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-root .MuiDataGrid-cell--header .MuiDataGrid-value {
  color: white;
}
.filter{
  margin-left: 150;
}
body {
  color: white;
}
.about{
  color: white;
}
