.Header-container{
    
    width: 1040px;
    height: 618px;
    flex-shrink: 0;
    position: relative;
    display: flex !important;
    flex-direction: column;
    gap: 100px;
    

}
.icon-container{
    background: #6C5DD3;
    display: flex;
    width: 49px;
    height: 49px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    bottom: 43%;
}
.avatar-container{
    position: absolute;
    bottom: 35%;
    left: 45%;
}



.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    